doctype html
html(ng-app="MainModule")#ng-app
  head
    meta(charset="utf-8")
    meta(content="chrome=1", http-equiv="X-UA-Compatible")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    //-
      link(href="static/image/apple-touch-icon.png", rel="apple-touch-icon")
      link(href="static/image/apple-touch-startup-image-320x460.png", rel="apple-touch-startup-image")
      link(href="static/image/apple-touch-startup-image-640x1096.png", rel="apple-touch-startup-image", media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)")
    title 暑さをみんなでふっとばせ！
    meta(property="og:title", content="暑さをみんなでふっとばせ！")
    meta(property="og:locale", content="ja_JP")
    meta(property="og:description", content="暑い気持ちをシェアする1ビットコミュニケーションアプリ")
    link(href="static/bower_components/famous/core/famous.css", rel="stylesheet")
    link(href="static/bower_components/famous-angular/dist/famous-angular.min.css", rel="stylesheet")
    link(href="static/main.css", rel="stylesheet")
    script(src="socket.io/socket.io.js")
    script(src="static/bower_components/requirejs/require.js")
    script.
      require.config({baseUrl: 'static/bower_components'});
    script(src="static/bower_components/angular/angular.js")
    script(src="static/bower_components/angular-touch/angular-touch.min.js")
    script(src="static/bower_components/famous-angular/dist/famous-angular.min.js")
    script(src="static/main.js")
  body(ng-controller="MainController", my-touchstart="clickBody")
    .main
      fa-app(style="height: 100%")
        fa-modifier(fa-origin="[0.5, 0.5]", ng-repeat="circle in circles", fa-size="[40, 40]", fa-translate="circle")
          fa-surface
            .circle(ng-class="{geki: circle.rare1}") {{circle.rare1 ? '激' : '暑'}}
    .dialog(ng-show="show_message", ng-click="show_message = null")
      .content
        p {{show_message}}
    .intro(ng-hide="ready", ng-click="ready = true")
      .content
        h1 暑さをみんなでふっとばせ！
        p [最低限の説明]
        p 画面の上部をタップすると「暑」玉が落ちてきて、画面の下部を押すとそれを弾く。画面外まで出したら消滅する。
        p 同時に接続している人がいると、玉の追加アクションも弾くアクションも共有される。
