doctype html
html(ng-app="MainModule", ng-controller="MainController")#ng-app
  head
    meta(charset="utf-8")
    meta(content="chrome=1", http-equiv="X-UA-Compatible")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    title 暑さをみんなでふっとばせ！
    meta(property="og:title", content="暑さをみんなでふっとばせ！")
    meta(property="og:locale", content="ja_JP")
    meta(property="og:description", content="暑い気持ちをシェアする1ビットコミュニケーションアプリ")
    meta(property="og:url", content="#{base_url}/")
    meta(property="og:image", content="#{base_url}/static/image/thumbnail.jpg")
    link(href="//cdn.rawgit.com/Famous/famous-angular/0.5.0/dist/famous-angular.min.css", rel="stylesheet")
    link(href="static/main.css", rel="stylesheet")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular.min.js")
    script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0/angular-touch.min.js")
    script(src="static/famous-global.js")
    script(src="//cdn.rawgit.com/Famous/famous-angular/0.5.0/dist/famous-angular.min.js")
    script(src="socket.io/socket.io.js")
    script(src="static/main.js")
  body(my-touchbegin="clickBody")
    .main
      fa-app(style="height: 100%")
        fa-modifier(fa-align="[0.5, 0.5]")
          fa-modifier(fa-origin="[0.5, 0.5]", ng-repeat="circle in circles", fa-size="[40, 40]", fa-translate="circle")
            fa-surface
              .circle(ng-class="{geki: circle.rare1}") {{circle.rare1 ? '激' : '暑'}}
        fa-modifier(fa-align="[0.5, 0.5]")
          fa-modifier(fa-origin="[0.5, 0.5]", ng-repeat="(key, finger) in fingers", fa-size="[60, 90]", fa-translate="finger.position")
            fa-surface
              img(src="static/image/finger.png")
    .dialog(ng-show="show_message", ng-click="show_message = null")
      .content
        p {{show_message}}
    .intro(ng-hide="ready", ng-click="ready = true")
      .content
        img(ng-hide="initialized", src="static/image/loading.gif")
        h1 暑さをみんなでふっとばせ！
        p [説明]
        p 画面の上部をタップすると「暑」玉が落ちてきて、画面の下部を押すとそれを弾く。画面外まで出したら消滅する。
        p 同時に接続している人がいると、玉の追加アクションも弾くアクションも共有される。
    audio#sound01(preload="auto")
      source(src="static/sound/by_chance.mp3" type="audio/mp3")
      source(src="static/sound/by_chance.ogg" type="audio/ogg")
    audio#sound02(preload="auto")
      source(src="static/sound/launcher1.mp3" type="audio/mp3")
      source(src="static/sound/launcher1.ogg" type="audio/ogg")
